.box {
  outline: none;
  appearance: none;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 16px 8px 12px;
  background-color: black;
  border: 2px solid white;
  border-radius: 24px;
  min-height: 40px;
  color: white;
  min-width: 100px;
}

.text {
  font-size: 14px;
  font-family: inherit;
  font-weight: 600;
  line-height: 18px;
  color: white;
  margin-left: 8px;
}
