$xs: 375;
$xm: 540;
$sm: 768;
$md: 1024;
$lg: 1280;
$xl: 1440;
$xxl: 1920;

$mobile-s: 'screen and (min-width: 320px)';
$mobile-m: 'screen and (min-width: 375px)';
$mobile-l: 'screen and (min-width: 540px)';
$mobile-xl: 'screen and (min-width: 768px)';
$desktop-s: 'screen and (min-width: 1024px)';
