.scrollbar {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #8080805e transparent;

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #8080805e;
  }
}
