@import 'src/assets/scss/utils';

.box {
  position: relative;
  z-index: 10;
  padding-top: 18px;
  padding-bottom: 12px;
  background-color: white;
  transition-property: padding, height;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  flex: 1;
  height: 100%;

  @media screen and (min-height: 680px) {
    padding-bottom: 34px;
  }

  @media #{$desktop-s} {
    display: none;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 20px;
}

.item {
  color: #4D4D54;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  appearance: none;
  cursor: pointer;
  padding: 12px;

  &:hover {
    color: #FF00D6;
  }

  &--active {
    color: #FF00D6;
  }
}
