@import 'src/assets/scss/utils';

.box {
  position: relative;
  z-index: 10;
  flex: 1;

  @media #{$desktop-s} {
    display: none;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 32px 32px 42px;
}
