@import 'src/assets/scss/utils';

.top-block {
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  padding: 0 16px;
}

.photo-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 16px;
  transition: border-radius 0.25s;

  &--show {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.photo-spin {
  height: 100%;
  width: 100%;
  background-color: #c1bcbcb0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}

.bullet-list-wrapper {
  display: flex;

  &--hide {
    opacity: 0;
  }
}

.bullet {
  height: 2px;
  background-color: rgba(10, 13, 39, 0.2);
  width: 100%;
  border-radius: 16px;
  transition: background-color 0.1s;

  &:not(:first-child) {
    margin-left: 8px;
  }

  &--active {
    background-color: white;
  }
}

.handler {
  &-wrapper {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    bottom: 128px; // TODO: считать исходя из высоты (является динамическим) контента с описанием профиля
  }

  &-photo {
    background-color: transparent;
    width: 50%;
    height: 100%;
    cursor: pointer;
  }
}

.background-status {
  position: absolute;
  height: 150px;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  transition: opacity 0.25s;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);

  &--orange {
    background: linear-gradient(180deg, rgba(255, 122, 0, 0) 0%, rgba(255, 122, 0, 0.5) 100%);
  }

  &--blue {
    background: linear-gradient(180deg, rgba(5, 0, 255, 0) 0%, rgba(7, 1, 255, 0.5) 100%);
  }

  &--green {
    background: linear-gradient(180deg, rgba(24, 216, 112, 0) 0%, rgba(24, 216, 112, 0.5) 100%);
  }

  &--purple {
    background: linear-gradient(180deg, rgba(219, 0, 255, 0.00) 0%, rgba(219, 0, 255, 0.50) 100%);
  }

  &--yellow {
    background: linear-gradient(180deg, rgba(255, 184, 0, 0.00) 0%, rgba(255, 184, 0, 0.50) 100%);
  }

  &--pink {
    background: linear-gradient(180deg, rgba(255, 0, 214, 0.00) 0%, rgba(255, 0, 214, 0.50) 100%);
  }
}

.tweet-wrapper {
  position: absolute;
  z-index: 10;
  bottom: 15px;
  left: 50%;
  right: 0;
  display: flex;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.15s;
  transform: translateX(-50%);

  &--hide {
    opacity: 0;
  }

  @media #{$desktop-s} {
    display: none;
  }
}
