@import 'src/assets/scss/utils';

.photo-list {
  position: relative;
  height: 100%;
}

.tweet-status-wrapper {
  position: absolute;
}

.tweet-wrapper {
  position: absolute;
  z-index: 10;
  bottom: 15px;
  left: 50%;
  right: 0;
  display: flex;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.15s;
  transform: translateX(-50%);

  &--hide {
    opacity: 0;
  }

  @media #{$desktop-s} {
    display: none;
  }
}
