@import 'src/assets/scss/utils';

.box {
  height: 100%;
  transition-property: height;
  transition-duration: 0.15s;
  transition-timing-function: linear;

  &--active {
    height: 60%;
  }
}

.photo-wrapper {
  position: relative;
  text-align: center;
  transition-property: top;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  height: 100%;

  @media #{$desktop-s} {
    top: 100% !important;
    transform: translateY(-100%);
  }
}

.tab-block {
  width: 100%;
  height: 100%;
}

.info-wrapper {
  position: relative;
  top: 0;
  transition-property: top, opacity;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  opacity: 1;
  
  @media #{$desktop-s} {
    display: none;
  }

  &--hidden {
    display: none;
  }

  &--hide {
    opacity: 0;
    top: 50%;
  }
}
