.box {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: left;
}

.content {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 0 16px;
  z-index: 10;
}

.left-wrapper {
  flex: 1;
  padding-right: 40px;
}
