@import 'src/assets/scss/utils';

.box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  background-color: white;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 5px;
  transition-property: padding, height;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  flex: 1;
  height: 100%;

  &--active {
    opacity: 0;
  }

  @media screen and (min-height: 680px) {
    padding-top: 52px;
  }

  @media #{$desktop-s} {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
}
