@import 'src/assets/scss/utils';

.box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  background-color: white;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 52px;
  transition: padding 0.15s, height 0.15s;

  &--active {
    height: 0;
    padding: 0;
  }

  @media #{$desktop-s} {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
}
