.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tab {
  flex: 1;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  appearance: none;
  padding: 0;
  margin: 0;
}

.icon {
  margin-bottom: 8px;
  color: #D1D1D8;
  transition: color 0.15s;

  &--active {
    color: #FF00D6;
  }
}

.hr {
  display: block;
  height: 2px;
  background-color: #D1D1D8;
  transition: background-color 0.15s;

  &--active {
    background-color: #FF00D6;
  }
}
