.lightning-icon {
  svg {
    fill: none;
  }
}

.box {
  position: absolute;
  right: 16px;
  top: 8px;
}

.icon-wrapper {
  margin-top: 72px;
  display: flex;
  justify-content: center;
}

.title {
  margin-top: 40px;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #0a0d27;
}

.description {
  padding: 0;
  text-align: center;
  margin-top: 16px;
  color: #0a0d27;
  font-size: 17px;
  line-height: 24px;
}

.button {
  margin-top: 40px;
  margin-bottom: 54px;
  width: 100%;
}
