@import 'src/assets/scss/utils';

.box {
  display: none;

  @media #{$desktop-s} {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    padding: 20px 0;
  }
}

.content {
  display: flex;
  flex-direction: row;
}

.title {
  margin-left: 24px;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  background: linear-gradient(104deg, #FFF 11.46%, #8D98FF 22.39%, #FC03D7 47.40%, #2628FF 75.00%, #4D83FF 90.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  display: inline-block;
  color: white;
  margin: 0;
  padding: 0;
  margin-left: 40px;
  border: none;
  appearance: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.content {
  height: 100%;
  background: #1F0C33;
  background-blend-mode: darken;
}

.body {
  margin: 112px 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 12px;
  border: none;
  appearance: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
  transition: color 0.25s;
  border-radius: 16px;

  &:not(:first-child) {
    margin-top: 20px;
  }

  &:hover {
    color: #FF00D6;
  }

  &--active {
    color: #FF00D6;
    background-color: rgba(255, 255, 255, 0.05);
  }

  &__label {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-left: 16px;
  }
}
