.box {
  position: absolute;
  left: 16px;
  top: 22px;
  color: #f10d5f;
  border: 2px solid #f10d5f;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  display: inline-flex;
  transform: rotate(-15deg);
  padding: 12px;
  border-radius: 24px;
  z-index: 10;
  /* backdrop-filter: blur(50px); // TODO: найти альтернативу. При использовании мерцает элемент при свайпе */
  text-transform: uppercase;

  &--success {
    color: #3db812;
    border: 2px solid #3db812;
  }
}