@import 'src/assets/scss/utils';

.box {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  right: -100%;
  opacity: 0;
  transition-property: right, opacity, visibility, z-index;
  transition-duration: 0.15s;
  z-index: 2;
  overflow: auto;
  visibility: hidden;

  &--show {
    right: 0;
    opacity: 1;
    z-index: 200;
    visibility: visible;
  }

  @media #{$desktop-s} {
    border-radius: 16px;
  }
}

.back {
  position: absolute;
  top: 18px;
  left: 16px;
  z-index: 10;
  transform: rotate(-90deg);
}

.chat {
  position: absolute;
  z-index: 10;
  right: 16px;
  bottom: 28px;
}

.photo-wrapper {
  height: 60%;
  position: relative;
}
