@import 'src/assets/scss/utils';

.box {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  right: -100%;
  opacity: 0;
  transition-property: right, opacity;
  transition-duration: 0.15s;
  z-index: 101;
  overflow: auto;

  &--show {
    right: 0;
    opacity: 1;
  }

  @media #{$desktop-s} {
    border-radius: 16px;
  }
}

.photo-wrapper {
  height: 60%;
}

.info-wrapper {
  background-color: yellow;
}
